.Login {
    height: 97vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E5E4E2; /*#E6E6E6 #DCDCDC*/
}

.LoginForm {
    background-color: #FFFAFA;
}